<!--==========================
    Footer
  ============================-->
<!--<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Vector Finance <strong>©</strong> 2020. All Rights Reserved
      </div>
    </div>
  </footer>
       #footer -->

<footer class="page-footer font-small indigo" id="footer">
  <div>
    <div class="row text-center main-nav d-flex justify-content-center">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/location" style="padding-left: 2px; padding-right: 2px;">Our Presence</a></li>
        <li><a href="/products"> Products</a></li>
        <li><a href="/policies">Policies</a></li>
        <li><a href="/career">Career</a></li>
        <li><a href="/contact" style="border-right: 1px solid rgba(236, 245, 255, 0.4);">Contact Us</a></li>
      </ul>
    </div>

    <hr class="footer-hr" style="margin: 10px 15%;">

    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div style="flex: 0 0 50%; padding: 25px; padding-left: 10%; border-right: 1px solid rgba(236, 245, 255, 0.4); ">
        K 7/110, Ground floor, Kalinga Vihar, Ghatikia BDA Plotted Scheme, P.S. Khandagiri, Bhubaneswar, Odisha 751029
        <br>
        <b>Call Us:  </b> +91 99027 66991 / +91 98201 14138
      </div>
      <div style="flex: 0 0 50%; padding: 25px; padding-right: 10%; ">
        <b>Email Us:</b> <br>
        Careers: careers@vectorfinance.in <br>
        Customer Care: customercare@vectorfinance.in <br>
      </div>
    </div>

    <hr class="footer-hr" style="margin:10px 15%;">

    <div class="row" style="padding-top: 15px;">
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <div class="copyright">
     Vector Finance <strong>&copy;</strong> 2020. All Rights Reserved
  </div>
</footer>



<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/mobile-nav/mobile-nav.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<!-- <script src="js/test.js"></script> -->
<script src="js/main.js"></script>
<script src="js/main.js"></script>
<script src="js/assam.js"></script>
<script src="js/bengal.js"></script>
<script src="js/cg.js"></script>
<script src="js/madhya.js"></script>
<script src="js/orissa.js"></script>
<script src="js/tripura.js"></script>

</body>

</html>